
<ul *ngFor="let item of resultado" class="animate__animated animate__fadeInLeft" >
  <li>
    <div class="contenedor">
      <div class="card">

        <img [src]="item.images.downsized.url" alt={{item.title}}>

      </div>
      <h3>{{item.title}}</h3>
    </div>


  </li>
</ul>