ul{
    margin-top: 10px;
    display: inline-flex;
}
li{
    display: inline;
    margin: 5px;
}
.contenedor {
    width: 25vw;
}
.card{
    height: 35vh;
    width: 25vw;
    min-height: 35vh;
    min-width: 200px;
    
}

.contenedor h3{
    font-size: 100%;
    margin:auto;
}
@supports(object-fit: cover){
    .card img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
