html, body {
    height: 100%;
    width: 100%;
    
}
.contenedor{
    display: flex;
}
main{
    margin: 20px;
    width: 100%;   
}

.seccion1{
    text-align: justify;
}

.separador{
    width:  100%;
    border: 1px solid rgb(22, 160, 133);
 }
