<!--The content below is only a placeholder and can be replaced.-->
<div class="contenedor">
  <app-nav></app-nav>
  <main>
    <div class="seccion1">
      <app-busqueda></app-busqueda>
      <div class="separador"></div>
      <app-resultado></app-resultado>
      
    </div>
  </main>
</div>