<nav>
    <h1>Gifs App</h1>
    <div class="separador"></div>
    <ul >
      <li>
        <button>
          <a href="#" class="enlace"> DashBoard</a>
        </button>

      </li>
    </ul>
    <ul *ngFor="let gif of listadoGifs">
      <li>
        <button (click)="buscar(gif)">
          
          <a href="#" class="enlace" > {{gif | titlecase}}</a>
        </button>

      </li>
    </ul>
  </nav>