nav{
    height: 100%;
    min-height: 100vh;
    width: 20vw;
    min-width: 140px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-align: left;

}
h1{
    color:white;
    display: inline-block;
    padding-left: 10px;
}
ul{
    padding: 0;
    margin: 0;
    padding-top: 10px;  
    text-align: center;
    
    
}


button{
    padding: 7px; 
    border-radius: 5px;
    width: 80%;
    
}

.enlace{
    text-decoration: none;
    color: black;
}


